<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body>

<div class="container auth-wrapper d-flex align-items-center justify-content-center">

    <div class="col-lg-5 col-md-7 col-sm-10">

        <div class="text-center mb-4">
            <h2 class="title">Create your account</h2>
            <p class="subtitle">Start managing your projects efficiently</p>
        </div>

        <div class="card shadow-sm auth-card p-2 p-md-5">

            <form method="POST" novalidate>
                {% csrf_token %}


                <div class="mb-3">
                    {% bootstrap_form form %}
                </div>

                <div class="d-grid mt-3">
                    <button type="submit" class="btn btn-primary">
                        Create client
                    </button>
                </div>
            </form>


        </div>

    </div>

</div>

</body>

</html>