<h2>New Comment on Post: {{ post.title }}</h2>

<p><strong>Commenter:</strong> {{ commenter.username }}</p>
<p><strong>Comment:</strong></p>
<p>{{ post.content }}</p>

{% if file_urls %}
    <hr>
    <h3>Attached Files</h3>
    <ul>
        {% for file in file_urls %}
            <li>
                <a href="{{ file.url }}" target="_blank">
                    {{ file.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<br>

<p>
    <a href="{{ post_url }}" target="_blank">
        View Post
    </a>
</p>